.forge-image {
    max-width: 100%;
}

.sword-image {
    max-width: 100%;
}

.seiya-features {
    max-width: 100%;
}

.profile {
    max-width: 100%;
}

.profile-container {
    max-width: 1000px;
}

.login-form {
    max-width: 600px;
}